# Ignore .data directory (with the dot)
.data/

# Ignore everything inside any folder named 'adta'
data/
**/data/

# Do not ignore .pth files
*.pth
**/*.pth

# Do not ignore __pycache__ directories
**/__pycache__/

# Ignore checkpoints folder
checkpoints/