# Ignore .data directory (with the dot)
.data/

# Ignore everything inside any folder named 'data'
data/
**/data/
# ignore output and error files
output/
**/output/
error/
**/error/

# Ignore venv folder
venv/bin/
**/venv/bin/
venv/bin
venv/lib/
**/venv/lib/


venv_ddpm/
**/venv_ddpm/




# Ignore models
models/ddpm
**/models/ddpm
# Ignore runs
runs/ddpm
**/runs/ddpm

envcv/
**/envcv/
# Ignore .pth files
*.pth
**/*.pth

# Ignore __pycache__ directories
**/__pycache__/

# Ignore checkpoints folder
checkpoints/